.pokemons-box{
    width: 80%;
    max-width: 1200px;
    margin:auto;

    display: grid;
    gap:2rem;
}

@media (min-width: 550px){
    .pokemons-box{
        grid-template-columns: 1fr 1fr;
    } 
}

@media (min-width: 1000px){
    .pokemons-box{
        grid-template-columns: 1fr 1fr 1fr;
    } 
}